[Unit]
Description=Open Trade Statistics API
After=postgresql

[Service]
Type=simple
User=www-data
WorkingDirectory=/tradestatistics/api
ExecStart=/usr/bin/Rscript api.R
Restart=on-abnormal
StandardError=file:/tradestatistics/log/api-error.log

[Install]
WantedBy=multi-user.target
